{
  email {$ACME_EMAIL}
}

{$DOMAIN} {
  encode zstd gzip

  redir /docs /docs/

  @api path /api/*
  handle @api {
    reverse_proxy backend:3000
  }

  handle_path /docs* {
    reverse_proxy openapi:8080
  }

  @uploads path /uploads/*
  handle @uploads {
    reverse_proxy backend:3000
  }

  handle {
    reverse_proxy frontend:80
  }
}

